.h1biz{
    text-align: left ;
}
.homepng{
    margin-right: auto;
    margin-top: 70px;
}
.homepng2{
    margin-left: 700px;
    margin-top: -800px;
}
.linklar{
    text-align: right;
    color: yellow;
}